@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$error: rgb(244, 67, 54);
$white: rgba(255, 255, 255, 1);

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    background-color: $white;
    color: #565656;
    font-family: 'Muli', sans-serif;
    overflow-x: hidden;
}

main {
    position: relative;
    min-height: 100vh;
    @media screen and (min-width: 768px) {
        display: flex;
        margin-bottom: 0;
        position: initial;
        top: 0;
    }
}

.mb-40 {
    margin-bottom: 40px;
}

.help {
    font-size: 0.775rem;
    margin: 4px 0;
    width: 90vw;
    @media screen and (min-width: 768px) {
        width: 100%;
    }
}

.has-error {
    color: $error;
}
